
@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/editor.css")" />

<h2>Posts</h2>
<!--<div id="postEditor"></div>-->
<div id="commentBox"></div>
<div id="postEditor"></div>