@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Manage blog</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/editor.css")" />
</head>
<body>
    @Html.ActionLink("Posts", "Posts", "Blog")
    <div id="postEditor"></div>
    <div id="commentBox"></div>
    <script src='@Url.Content("~/Scripts/bundle.js")'></script>
</body>
</html>