@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Hello React</title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="container"></div>
    <script src='@Url.Content("~/Scripts/Build/commentBoxModule.js")'></script>
    <!--<script src='@Url.Content("~/Scripts/Build/postEditorModule.js")'></script>-->
</body>
</html>